<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <!-- se agrego esta linea porque no se veian los estilos en la tabla -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h2>Gestor de Clientes</h2>
        <button type="button" on-click="obtenerClientes" class="btn btn-primary">Obtener Clientes</button>
        <!-- <img width="100px" height="100px" class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/svg/2641/2641232.svg" alt=""> -->
        <button type="button" on-click="insertarCliente" class="btn btn-outline-dark">Insertar Clientes</button>

      </div>
      <div class="row">
        <table class="table table-striped">
          <tbody>
            <!-- para recorrer el arreglo -->
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.idcliente]]
                </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
              </tr>

            </template>
          </tbody>
        </table>
      </div>

      </div>

  </template>
  <!-- se agrego esta linea porque no se veian los estilos en la tabla -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      /* metodo */
      obtenerClientes() {
        /* se crea una instancia de esa clase */
        var request = new XMLHttpRequest();
        /* request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false); */
        request.open("GET","http://localhost:3002/Clientes", false);
        //request.setRequestHeader("Accept", "application/json");
        /* enviar la petición */
        request.send();
        this.clientes = JSON.parse(request.responseText);
        //this.clientes = JSON.parse(request.responseText).value;
        console.log(this.clientes);
      }
      insertarCliente() {
        var request = new XMLHttpRequest();
        request.open("POST", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        /* le informo que debe aceptar jsons */
        request.setRequestHeader("Accept", "application/json");
        /* le informo que enviare jsons */
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoCliente = {"CustomerID":"12345", "ContactName":"Pedro", "CompanyName":"Sabritas"};
        /* se pasa nuevoCliente a formato cadena */
        var body = JSON.stringify(nuevoCliente);
        /* enviar la petición */
        request.send();
        /* conocer el código de respuesta. this.respuesta es una propiedad local del método */
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }

    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
