<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="contact-page">

  <template>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <style>
    :host {
      display: block;
    }

    </style>

    <div id="contenido">
      <h2>¡ Contáctanos !</h2>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/src/img/carou_1.jpg">
          <div class="card-body">
            <p></p>
            <h5 class="card-title">Nos interesan tus opiniones</h5>
            <p></p>
            <p class="card-text">Escríbenos a suculentas@grandiosas.com</p>
            <p></p>
            <p class="card-text">Comparte con nosotros tus dudas y sugerencias sobre el cuidado de las suculentas, nos encantaría leerte</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/src/img/carou_2.jpg">
          <div class="card-body">
            <p></p>
            <h5 class="card-title">Contrátanos para tus eventos</h5>
            <p></p>
            <p class="card-text">Tenemos una gran variedad de suculentas para tus eventos</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/src/img/carou_3.jpg">
          <div class="card-body">
            <p></p>
            <h5 class="card-title">Envíanos tus fotos</h5>
            <p></p>
            <p class="card-text">Pronto inauguraremos la sección "Galería"</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>

  </template>

  <script>

  class ContactPage extends ServiceMixin(Polymer.Element) {

    static get is() { return 'contact-page'; }
    static get properties() {
      return {

        }
      };
  }

  window.customElements.define(ContactPage.is, ContactPage);
  </script>
</dom-module>
