<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../src/config/service.html">

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <style>
    :host {
      display: block;
    }

    :root {
      --input-padding-x: 1.5rem;
      --input-padding-y: 0.75rem;
    }

    .login,
    .image {
      min-height: 100vh;
    }

    .bg-image {
      background-image: url("/src/img/bg_login.jpg");
      background-size: auto;
      background-position: center;
    }

    .login-heading {
      font-weight: 300;
    }

    .btn-login {
      font-size: 0.9rem!important;
      letter-spacing: 0.05rem!important;
      padding: 0.75rem 1rem!important;
      border-radius: 2rem!important;
    }

    .form-label-group {
      position: relative;
      margin-bottom: 1rem;
    }

    .form-label-group>input,
    .form-label-group>label {
      padding: 0.75rem 2rem;
      height: 45px;
      border-radius: 2rem;
    }

    .form-label-group>label {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      margin-bottom: 0;
      /* Override default `<label>` margin */
      line-height: 1.5;
      color: #495057;
      cursor: text;
      /* Match the input under the label */
      border: 1px solid transparent;
      border-radius: .25rem;
      transition: all .1s ease-in-out;
    }

    .form-label-group input::-webkit-input-placeholder {
      color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
      color: transparent;
    }

    .form-label-group input::-ms-input-placeholder {
      color: transparent;
    }

    .form-label-group input::-moz-placeholder {
      color: transparent;
    }

    .form-label-group input::placeholder {
      color: transparent;
    }

    .form-label-group input:not(:placeholder-shown) {
      padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
      padding-bottom: calc(var(--input-padding-y) / 3);
    }

    .form-label-group input:not(:placeholder-shown)~label {
      padding-top: calc(var(--input-padding-y) / 3);
      padding-bottom: calc(var(--input-padding-y) / 3);
      font-size: 12px;
      /*color: #777;*/
    }

    /* Fallback for Edge
    -------------------------------------------------- */
    @supports (-ms-ime-align: auto) {
      .form-label-group>label {
        display: none;
      }
      .form-label-group input::-ms-input-placeholder {
        color: #777;
      }
    }

    /* Fallback for IE
    -------------------------------------------------- */
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
      .form-label-group>label {
        display: none;
      }
      .form-label-group input:-ms-input-placeholder {
        color: #777;
      }
    }
    </style>

    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <h3 class="login-heading mb-4">¡ Hi Suculentoso Amigo !</h3></h3>
                  <form id="formlogin" onsubmit="return false">
                    <div class="form-label-group">
                      <input type="email" value="{{email::input}}" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                      <label for="inputEmail">Email </label>
                    </div>
                    <div class="form-label-group">
                      <input type="password" value="{{password::input}}" id="inputPassword" class="form-control" placeholder="Password" required>
                      <label for="inputPassword">Password </label>
                    </div>
                    <button on-click="login" class="btn btn-lg btn-outline-success btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Entrar</button>
                  </form>
                  <!-- moví esto -->
                  <div class="text-center">
                    <a class="small" href="#">Regístrate</a>
                  </div>
                  <!-- fin moví esto -->
                  <br>
                  <template is="dom-if" if="[[showError]]">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <strong>Oops!</strong> [[errorMessage]]
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </template>

  <script>

  class LoginApp extends ServiceMixin(Polymer.Element){
    constructor () {
      super();
    }

    static get is() { return 'login-app'; }

    static get properties() {
      return {
        service: {
          type: Object
        },
        email: {
          type: String
        },
        password: {
          type: String
        },
        logueado: {
          type: Boolean,
          value: false,
          notify: true
        },
        showError: {
          type: Boolean,
          value: false
        },
        errorMessage: {
          type: String,
          value: ""
        }
      };
    }

    /* metodo del botón*/

    login() {
      this.showError = false;
      var loginData = {
        "email" : this.email,
        "password" : this.password
      };
      //console.log(loginData);
      this.post('login',loginData)
      .then(response => {
        //console.log(response);
        this.logueado = true;
      })
      .catch(error=> {
        this.showError = true;
        this.errorMessage = error.message;
      })
    }
  }

  window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
