<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../src/config/service.html">

<dom-module id="registro-page">

  <template>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <style>
    :host {
      display: block;
    }


    </style>

    <div id="contenido">
      <form>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">First name</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="Mark" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Last name</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value="Otto" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefaultUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2">@</span>
        </div>
        <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault03">City</label>
      <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault04">State</label>
      <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault05">Zip</label>
      <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
      <label class="form-check-label" for="invalidCheck2">
        Agree to terms and conditions
      </label>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
    </div>
  </template>

  <script>

  class RegistroPage extends ServiceMixin(Polymer.Element) {

    static get is() { return 'registro-page'; }
    static get properties() {
      return {
        service: {
          type: Object
        },
        email: {
          type: String
        },
        password: {
          type: String
        },
        showError: {
          type: Boolean,
          value: false
        },
        errorMessage: {
          type: String,
          value: ""
        }
      };
    }

    /* metodo del botón*/

    login() {
      this.showError = false;
      var loginData = {
        "email" : this.email,
        "password" : this.password
      };
      console.log(loginData);
      this.post('login',loginData)
      .then(response => {
        console.log(response);
        this.logueado = true;
      })
      .catch(error=> {
        this.showError = true;
        this.errorMessage = error.message;
      })
    }

    constructor(){
      super();
    }

    connectedCallback() {
      super.connectedCallback()
    }
  }

  window.customElements.define(RegistroPage.is, RegistroPage);
  </script>
</dom-module>
