<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../src/buy-page/buy-page.html">
<link rel="import" href="../../src/catalog-page/catalog-page.html">
<link rel="import" href="../../src/contact-page/contact-page.html">
<link rel="import" href="../../src/home-page/home-page.html">


<dom-module id="gestor-suculentas">

  <template>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <style>
    :host {
      display: block;
    }

    .masthead {
      margin-top: 15px;
      height: 95vh;
      min-height: 500px;
      background-image: url('src/img/fdo_princ.jpg');
      opacity: 0.9;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    </style>

<!-- Navegación -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Suculentas Grandiosas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" on-click="_setPage" page="home" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" on-click="_setPage" page="catalog" href="#">Cátalogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" on-click="_setPage" page="buy" href="#">Comprar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" on-click="_setPage" page="contact" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Relación de navegación -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <iron-pages selected="[[page]]" attr-for-selected="page">
          <div page="home"><home-page></home-page></div>
          <div page="catalog"><catalog-page suculentas="[[arrSuc]]"></catalog-page></div>
          <div page="buy"><buy-page></buy-page></div>
          <div page="contact"><contact-page></contact-page></div>
        </iron-pages>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-1">
  <div class="container">
    <p>Proyecto para curso Practitioner - BBVA</p>
  </div>
</section>

</template>

<script>

class GestorSuculentas extends ServiceMixin(Polymer.Element) {

  static get is() { return 'gestor-suculentas'; }
  static get properties() {
    return {
      page: {
        type: String,
        value: "home"
      },
      arrSuc: {
        type: Array,
        value:{}
      }
    };
  }

  _setPage(event) {
    this.page = event.currentTarget.getAttribute('page');
    if(this.page=="catalog") {
      this._obtenerSuculentas()
    }
  }

  /* metodo privado*/
  _obtenerSuculentas() {
    this.getRequest('CatSuc')
    .then(response => {
      console.log(response);
      this.arrSuc = JSON.parse(JSON.stringify(response));
      console.log(this.arrSuc);
    })
    .catch(error=> console.log(error))
  }

}

window.customElements.define(GestorSuculentas.is, GestorSuculentas);
</script>
</dom-module>
