<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Mi valor es [[prop2]]</h3>

    <div class="container">
      <div class="row">
        <img width="100px" height="100px" class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/svg/2641/2641232.svg" alt="">
      </div>
      <div class="row">
        <button on-click="incrementar" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Cargar datos</button>
        <!-- bidireccional -->
        <input type="text" value="{{prop1::input}}">
        <!-- unidireccional -->
        <input type="text" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Elena</td>
              <td>Nito del Bosque</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Leandro</td>
              <td>Gao</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String//,
            //value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
      /* metodo */
      incrementar() {
        this.prop2 = this.prop2+1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
