<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="home-page">

  <template>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <style>
    :host {
      display: block;
    }
    .my-h4 {
      text-align: left;
    }
    #cuidados {
      background-color: white;
      opacity: 0.8;
      color: black;
      text-align: justify;
    }
    ul li {
       list-style: disc;
       text-align:justify;
     }

    </style>

    <div id="contenido">
      <!-- Portfolio Item Row -->
      <div class="row">
        <div class="col-md-8">
          <img class="img-fluid" src="/src/img/hm_1.jpg">
        </div>

        <div id="cuidados" class="col-md-4">
          <p></p>
          <h4 class="my-h3">Cuidados de las suculentas</h4>
          <p>¿Sabías que muchas de ellas son originarias de ambientes desérticos o muy áridos?, es por ello suelen ser plantas muy resistentes y que tienden a requerir de pocos cuidados, además de ser muy sencillas de multiplicar.</p>
          <p>Hay que tener en cuenta que las suculentas no son una sola familia, sino muchas de ellas, y cuentan con una enorme cantidad de especies. Debido a esto, sus necesidades pueden ser bastante diferentes en función de la especie concreta. Sin embargo, la mayoría de ellas comparte algunas cosas.</p>
          <p></p>
          <ul>
            <li>Luz: la gran mayoría necesitan grandes cantidades de luz solar.</li>
            <li>Tierra: necesitan un buen drenaje.</li>
            <li>Riego: no toleran excesos de riego ni los encharcamientos.</li>
            <li>Clima: la mayoría de ellas son de climas cálidos.</li>
          </ul>
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h4 class="my-h4">Otros artículos que puedes leer</h4>
      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
                <img class="img-fluid" src="/src/img/hm_2.jpg" alt="">
              </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
                <img class="img-fluid" src="/src/img/hm_3.jpg" alt="">
              </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
                <img class="img-fluid" src="/src/img/hm_4.jpg" alt="">
              </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
                <img class="img-fluid" src="/src/img/hm_5.jpg" alt="">
              </a>
        </div>

      </div>
      <!-- /.row -->


    </div>

  </template>

  <script>

  class HomePage extends ServiceMixin(Polymer.Element) {

    static get is() { return 'home-page'; }
    static get properties() {
      return {

        }
      };
  }

  window.customElements.define(HomePage.is, HomePage);
  </script>
</dom-module>
