<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../src/config/service.html">

<dom-module id="catalog-page">

  <template>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <style>
    :host {
      display: block;
    }

    @media (min-width: 576px) {
      .card-columns {
        column-count: 2;
      }
    }

    @media (min-width: 768px) {
      .card-columns {
        column-count: 3;
      }
    }

    @media (min-width: 992px) {
      .card-columns {
        column-count: 4;
      }
    }

    @media (min-width: 1200px) {
      .card-columns {
        column-count: 5;
      }
    }

    </style>

    <div id="contenido">
      <div class=card-columns>
        <template is="dom-repeat" items="{{suculentas}}">
          <div class="card text-white bg-dark border-light" style="width: 23rem;">
            <img class="card-img-top" src=[[item.imagen]]  height="160px;">
            <div class="card-body">
              <p class="card-subtitle">[[item.nombreSuc]] </p>
              <p class="card-text">$[[item.precioSuc]].00 MXP</p>
            </div>
          </div>
        </template>
      </div>
    </div>

  </template>

  <script>

  class CatalogPage extends ServiceMixin(Polymer.Element) {

    static get is() { return 'catalog-page'; }
    static get properties() {
      return {
        suculentas: {
          type: Array,
          value: []
        }
      };
    }

    constructor(){
      super();
    }

    connectedCallback() {
      super.connectedCallback()
    }
  }

  window.customElements.define(CatalogPage.is, CatalogPage);
  </script>
</dom-module>
