<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../src/config/service.html">

<dom-module id="buy-page">

  <template>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <style>
    :host {
      display: block;
    }
    #contenido {
      background-color: white;
      opacity: 0.90;
    }

    </style>
  <form id="formbuy" onsubmit="return false">
    <div id="contenido">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{email::input}}" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputNombre">Nombre</label>
          <input type="text" value="{{nombre::input}}" class="form-control" id="inputNombre" placeholder="Nombre(s)">
        </div>
        <div class="form-group">
          <label for="inputApellido">Apellido</label>
          <input type="text" value="{{apellido::input}}" class="form-control" id="inputApellido" placeholder="Apellido">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEjemplar">Ejemplar a comprar: </label>
            <select value="{{ejemplar::input}}" id="inputEjemplar" class="form-control">
              <option selected>Selecciona...</option>
              <option value="SE01">Echeveria</option>
              <option value="SKT1">Kalanchoe Tomentosa</option>
              <option value="SAR1">Aztekium Riteri</option>
              <option value="SCF1">Crassula Falcata</option>
              <option value="SE02">Echeveria Black Prince</option>
              <option value="SFF1">Faucaria Felina</option>
              <option value="SHC1">Haworthia Cooperi</option>
              <option value="SAR3">Arreglo cristal</option>
              <option value="SAR2">Arreglo estrella</option>
            </select>
          </div>
          <div class="form-group col-md-6">
              <label for="inputCantidad">Cantidad de ejemplares</label>
              <select value="{{cantidad::input}}" id="inputCantidad" class="form-control">
                <option selected>Selecciona...</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputDireccion">Dirección: </label>
          <input type="text" value="{{direccion::input}}" class="form-control" id="inputDireccion" placeholder="Calle y Número">
        </div>
        <div class="form-group">
          <label for="inputCiudad">Ciudad: </label>
          <input type="text" value="{{ciudad::input}}" class="form-control" id="inputCiudad">
        </div>
        <button on-click="crearPedido" class="btn btn-primary" type="submit">Pedir</button>
        <br>
        <template is="dom-if" if="[[showError]]">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Oops!</strong> [[errorMessage]]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </template>
        <template is="dom-if" if="[[showSuccess]]">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Realizado!</strong> [[successMessage]]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </template>
    </div>
         </form>
  </template>

  <script>

  class BuyPage extends ServiceMixin(Polymer.Element) {
    constructor () {
      super();
    }

    static get is() {
      return 'buy-page';
    }

    static get properties() {
      return {
        service: {
          type: Object
        },
        email: {
          type: String
        },
        nombre: {
          type: String
        },
        apellido: {
          type: String
        },
        ejemplar: {
          type: String
        },
        cantidad: {
          type: Number
        },
        direccion: {
          type: String
        },
        ciudad: {
          type: String
        },
        pedido: {
          type: Boolean,
          value: false,
          notify: true
        },
        showError: {
          type: Boolean,
          value: false
        },
        errorMessage: {
          type: String,
          value: ""
        },
        showSuccess: {
          type: Boolean,
          value: false
        },
        successMessage: {
          type: String,
          value: ""
        }
      };
    }

    /* metodo */
    crearPedido() {
      this.showError = false;
      this.showSuccess = false;
      let newPedido = {
        "email" : this.email,
        "nombre" : this.nombre,
        "apellido" : this.apellido,
        "ejemplar" : this.ejemplar,
        "cantidad" : this.cantidad,
        "direccion" : this.direccion,
        "ciudad" : this.ciudad
      };
      //console.log(newPedido);
      this.post('Pedidos', newPedido)
      .then(response => {
        //console.log(this.pedido);
        this.pedido = true;
        this.showSuccess = true;
        this.successMessage = response.message;
        //this.pedido = JSON.parse(response.body);
      })
      //.catch(error=> console.log(error)
      .catch(error=> {
        this.showError = true;
        this.errorMessage = error.message;
      }
    )
    }
  }

  window.customElements.define(BuyPage.is, BuyPage);
  </script>
</dom-module>
